{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{ product.description|truncatewords:200 }}
{% endblock %}
{% block title %}
    {% if product %}
        {{product.name}}        -   ABC Store
    {% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p><a href="{% url 'shoppingapp:Cproduct' %}">Home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>|{{product.name}}</p>
    </div>
</div>
<!--<div class="container">-->
<!--<br>-->
<!--<div class="row">-->
<!--    <div class="col-md-12 col-sm-12-col-md-12 col-lg-12 text-center">-->
<!--        <div>-->
<!--            <img src="{{product.image.url}}" alt="{{product.name}}>-->
<!--        </div>-->
<!--    </div>-->
<div class="container">
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width:18rem">
<!--                <img src="{% static 'img/banner1.jpg' %}" height="100px">-->
                <img src="{{product.image.url}}" alt="there is supposed to be a image" height="375px">
                </div>
                </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="my_prod_title">{{product.name}}</h1>
            <p>{{product.price}}</p>
            <p class="my_title">product.description</p>
            <p class="text-justify my_prod_text">{{product.description}}</p>


<!--            <div class="container">-->
<!--            <br>-->
<!--            <div class="row">-->
<!--                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">-->
<!--                <div style="min-width:18rem">-->

<!--                <img src="{{product.image.url}}" alt="there is supposed to be an image">-->

<!--</div>-->
            {% if product.stock <= 0 %}
                <p class="text-justify my_prod_text"><b>out of stock</b></p>
            {% else %}
                <a class="btn btn-secondary" href="{% url 'cart_app:add_cart' product.id %}">Add to Cart</a>
            {% endif %}
            </div>
            </div>


</div>
        </div>


{% endblock %}
